.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
}
.tt-dropdown-menu {
	min-width:188px;
	max-width:422px;
	margin-top:45px;
	padding:0px 0 0 0;
	padding-top:0px;
	background-color: #fff;
	color: #111!important;
	-webkit-box-shadow: 2px 5px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 2px 5px 10px rgba(0,0,0,.8);
	box-shadow: 2px 3px 10px rgba(0,0,0,.8);
	-webkit-animation: animate-typeahead .4s; /* Chrome, Safari, Opera */
	animation: animate-typeahead .4s;
	overflow:hidden;
	display:block;
	position:absolute;
}

.tt-dropdown-menu.list-open, .tt-dropdown-menu.list-closed {
	max-height:auto;
	-webkit-transition: max-height .3s cubic-bezier(.68, .07, .37, .94);
	-moz-transition: max-height .3s cubic-bezier(.68, .07, .37, .94);
	-o-transition: max-height .3s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: max-height .3s cubic-bezier(.68, .07, .37, .94);
	transition: max-height .3s cubic-bezier(.68, .07, .37, .94);
	position: absolute; 
	top: 100%; 
	left: 0px; 
	z-index: 100; 
	display: block; 
	right: auto;
	}

.tt-dropdown-menu.list-closed {
	max-height: 0;
	}

/* Chrome, Safari, Opera */
@-webkit-keyframes animate-typeahead {
 from {
opacity:0;
margin-left:18px;
}
to {
	opacity:1;
	margin-left:0px;
}
}

/* Standard syntax */
@keyframes animate-typeahead {
 from {
opacity:0;
}
to {
	opacity:1;
}
}
.contact_info .tt-dropdown-menu, .bclever-modal .tt-dropdown-menu {
	margin-top: -15px;
}
/*.bclever-modal .tt-dropdown-menu, .profile_holder .tt-dropdown-menu, .home_holder*/ .tt-dropdown-menu {
	max-height: 250px;
	overflow-y: auto;
}
.tt-suggestion {
	padding:0px;
	font-size: 18px;
	line-height: 24px;
	text-align:left;
	border-top: 1px solid rgba(0,0,0,0.08);
}
.tt-suggestion p {
	margin: 0;
	color:#666;
	padding: 8px 10px!important;
	margin:0px!important;
	font-size: 17px;
	font-family: arial, tahoma, sans-serif;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover  {
	background-color: #2BA6B3;
	border-top: 1px solid rgba(0,0,0,0);
	cursor:pointer;
}
.tt-suggestion.tt-cursor p, .tt-suggestion:hover p {
	color:#fff;
}
 @media (max-width: 32.438em) {
.tt-dropdown-menu {
	width:100%;
}
}
